@font-face {
  font-family: "HarryPotterFont";
  src: url("./fonts/HARRYP__.TTF") format("truetype");
}

body {
  min-height: 100vh;
  font-family: "HarryPotterFont", serif;
  background-image: url("../images/backgroundHP.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
