.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  // border: 1px solid red;
  // color: #491007;
  color: rgb(46, 25, 5);
  .header-title {
    // font-size: 2rem;
    font-size: 3.5rem;
    text-align: center;
  }
  .header-scoreboard {
    display: flex;
    margin-top: 30px;
    > *:not(:last-child) {
      margin-right: 30px;
    }
    .header-scoreboard-title-value {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      .header-scoreboard-title {
        margin-bottom: 10px;
        font-size: 1.8rem;
      }
      .header-scoreboard-value {
        // font-size: 1.6rem;
        font-size: 3rem;
      }
    }
  }
}
