@import "./partials/variables";

.memory-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  @media screen and (min-width: $media-query-breakpoint) {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
  justify-content: center;
  grid-gap: 10px;
  max-width: 1040px;
  margin: 20px auto 40px auto;
  padding: 0 20px;
}
