.memory-card-container {
  display: grid;
  grid-template-columns: repeat(1, 170px);
  @media screen and (min-width: 360px) {
    grid-template-columns: repeat(2, 160px);
  }
  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(3, 160px);
  }
  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(4, 160px);
  }
  // @media screen and (min-width: 1200px) {
  //   grid-template-columns: repeat(6, 160px);
  // }
  // @media screen and (min-width: 900px) {
  //   grid-template-columns: repeat(3, 240px);
  // }
  // @media screen and (min-width: 1200px) {
  //   grid-template-columns: repeat(4, 240px);
  // }
  justify-content: center;
  // grid-template-columns: repeat(2, 158px);
  // @media screen and (min-width: 540px) {
  //   grid-template-columns: repeat(2, 240px);
  // }
  grid-gap: 20px;
  // max-width: 600px;
  margin: 20px auto 40px auto;
  padding: 0 20px;
}
